body {
    margin: 0;
    background: rgb(138,39,104);
    background: linear-gradient(90deg, rgba(138,39,104,1) 0%, rgba(42,195,231,1) 100%);

}

#Titre {
    font-size: 50px;
color: rgb(255, 255, 255);
}

#Titrecase {
    height: 250px;
    width: 100%;
    background: rgb(39,154,181);
    background: linear-gradient(231deg, rgba(39,154,181,1) 0%, rgba(80,105,212,1) 100%);

}

#container {
    font-size: 22px;
    margin-top: 100px;
    margin-left: 700px;
    backdrop-filter: blur(15);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.719) -3px 4px 20px;
    border-radius: 15px;
    background: rgb(43,139,131);
    background: linear-gradient(231deg, rgba(43,139,131,0.6306897759103641) 0%, rgba(145,146,153,0.6222864145658263) 100%);
    color: aliceblue;
    height: 550px;
    width: 550px;
}

figure {
    margin: 0;
}

#audiotexte {
    color: aliceblue;
}